::ng-deep div.content-wrapper {
  min-height: unset !important;
  .content {
    padding-top: 0px;
    height: calc(100vh - 91px);
    overflow: overlay;
    overflow-x: hidden;
    min-height: unset !important;
  }
}

::ng-deep .login-page {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
